body, h1, h2, h3, h4, p, dl, dd, ul, ol, form, input, textarea, th, td, select, div {
  margin: 0;
  padding: 0; }

em {
  font-style: normal; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none;
  vertical-align: top; }

table {
  border-collapse: collapse; }

input, textarea {
  outline: none; }

textarea {
  resize: none;
  overflow: auto; }

body {
  font-size: 12px;
  font-family: arial; }

.clear {
  zoom: 1; }

.clear:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

.fl {
  float: left; }

.fr {
  float: right; }

.slide {
  position: relative;
  width: 680px;
  height: 360px;
  margin: 0 auto; }

.slide:hover .nav_arrow div {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.slide .slide_list {
  position: relative;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit; }

.slide .slide_list li {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0; }

.slide .slide_list li:first-child {
  opacity: 1; }

.slide .nav_arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: inherit;
  height: 60px; }

.slide .nav_arrow div {
  width: 30px;
  height: inherit;
  background-color: black;
  position: relative;
  cursor: pointer; }

.slide .nav_arrow div div {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 30px;
  height: 30px; }

.slide .nav_arrow div:first-child div {
  background: url(../img/arrow.png) 4px 0 no-repeat; }

.slide .nav_arrow div:last-child div {
  background: url(../img/arrow.png) 4px -28px no-repeat; }

.slide .slide_control {
  position: absolute;
  bottom: 3px;
  width: 130px;
  left: 0;
  right: 0;
  margin: 0 auto; }

.slide .slide_control li {
  width: 26px;
  height: 26px;
  float: left;
  position: relative;
  cursor: pointer; }

.slide .slide_control li:hover div {
  background-color: #e6551d; }

.slide .slide_control li div {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #8c8c8c;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px; }

.slide .slide_control li .active {
  background-color: #e6551d; }
